*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 960px;
    overflow: hidden;
    left: 50%;
    position: absolute;
    margin-left: -320px;
    transform-origin: top;
    -webkit-transform-origin: top;
}
#main>ul>li{
    position: absolute;
    width: 100%;
    height: 100%;
}
#main>ul>li.zIndex{
    z-index: 10;
}
#main>ul>li:nth-child(1){
    background: url("../images/1.jpg") no-repeat;
}
#main>ul>li:nth-child(2){
    background: url("../images/2.jpg") no-repeat;
}
#main>ul>li:nth-child(3){
    background: url("../images/3.png") no-repeat;
}
#main>ul>li:nth-child(4){
    background: url("../images/4.jpg") no-repeat;
}

.title{
    position: absolute;
    top:20%;
    left: 15%;
    width: 100%;
    font-size: 70px;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}
.title li{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 10px;
}
#musicPic{
    width: 90px;
    height: 90px;
    background: url("../images/musicplayer.png");
    position: absolute;
    top:8%;
    right:8%;
}
.musicPic{
    -webkit-animation: move 1.5s infinite;
    animation: move 1.5s infinite;
}

@keyframes move {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes move {
    0%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.a0{
    position: absolute;
    bottom:10%;
    width: 100%;
    text-align: center;
}
.a0 p{
    color: #fff;
    font-size: 36px;
}
.a0 p:nth-child(even){/*偶数行*/
    transform: translate(500px);
    -webkit-transform: translate(500px);
    color: red;
}
.a0 p:nth-child(odd){/*奇数行*/
    transform: translate(-500px);
    -webkit-transform: translate(-500px);
    color: blue;
}
#a0 p{
    transform: translate(0px);
    -webkit-transform: translate(0px);
    transition: 1s;
    -webkit-transition: 1s;

}

.a1 p{
    width: 90px;
    height: 90px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -45px;
    margin-top:-45px;
    border-radius: 50%;
}
.a1 p:nth-child(1){
    background: url(../images/css.png) no-repeat;
}
.a1 p:nth-child(2){
    background: url(../images/html5.png) no-repeat;
}
.a1 p:nth-child(3){
    background: url(../images/java.png) no-repeat;
}
.a1 p:nth-child(4){
    background: url(../images/js.png) no-repeat;
}
.a1 p:nth-child(5){
    background: url(../images/mobile.png) no-repeat;
}
.a1 p:nth-child(6){
    background: url(../images/node.png) no-repeat;
}

#a1 p:nth-child(1){
    left: 50% ;
    top:30%;
}
#a1 p:nth-child(2){
    left: 20% ;
    top:40%;
}
#a1 p:nth-child(3){
    left: 80% ;
    top:40%;
}
#a1 p:nth-child(4){
    left: 20% ;
    top:60%;
}
#a1 p:nth-child(5){
    left: 80% ;
    top:60%;
}
#a1 p:nth-child(6){
    left: 50% ;
    top:70%;
}
#a1 p{
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transition:all 1s;
    -webkit-transition:all 1s;
    /*animation:move 1s 1;*/
    /*-webkit-animation:move 1s 1;*/
}

#twoTitle{
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    font-size: 70px;
    text-align: center;
    font-size: 70px;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -320px;
}
.twoTitle{
    transform: rotateY(720deg);
    -webkit-transform: rotateY(720deg);
    transition: 1s;
    -webkit-transition: 1s;
}

.a2 {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -45%;
    box-sizing: border-box;
}

.a2 li{
    width: 90%;
    height: 22%;
    margin-top: 3%;
    margin-left: 5%;
    background: blue;
}
.a2 li{
    font-size: 26px;
}

.a2 li:nth-of-type(1){
    color: #660066;
    background: url("../images/3-01.png");
    background-size: 100% 100%;
}

.a2 li:nth-of-type(2){
    color: #BB3BD9;
    background: url("../images/3-02.png");
    background-size: 100% 100%;
}
.a2 li:nth-of-type(3){
    color: #0044DD;
    background: url("../images/3-03.jpg");
    background-size: 100% 100%;
}
.a2 li:nth-of-type(4){
    color: red;
    background: url("../images/3-04.png");
    background-size: 100% 100%;
}



.a3{
    word-wrap: break-word;/*强制换行*/
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    left:50%;
    top:50%;
    background: url("../images/aiqiyi.png");
    background-size: 100% 100%;
}

#a3{
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    transition: 1s;
    -webkit-transition: 1s;
}
.more{
    padding: 10px;
    color: red;
    font-size: 40px;
    position: absolute;
    width: 100%;
    height: 40px;
    top:0;
}